{% assign projects = site.projects | sort: "order" %}

{% for project in projects %}
	<div class="section project-container">
	  <div class="w-100 h-100 d-flex align-items-center no-text-underline">
	      <a class="project-info text-white" href="{{project.url}}">
	      	<p class="project-number">{% if forloop.index < 10 %}0{% endif %}{{forloop.index}}</p>
			<h1 class="project-title noselect">{{ project.title }}</h1>
			<p class="project-client noselect">
				{% if project.client %}
					{{ project.client }}
				{% endif %}
			</p>
			<p class="project-outside">Watch Video</p>
			<img class="project-image" src="{{ project.image_url }}">
	      </a>
	  </div>
	</div>
{% endfor %}