<section id="{{include.type | slugify}}" data-background-text="{{include.type}}">
	<div class="container">
		<h4 class="section-title">{{ include.type }}</h4>
		<div class="row">
			{% for project in include.projects %}
				<div class="col-md-6 project-col
					{% cycle 'left-col', 'right-col' %}">
					<div class="singlevidjs project-container video-container-background-image"  data-primary-color="{{project.primary_color}}" data-background-text="{{project.title}}">
						<a href="{{project.url}}">
							<video
								poster="{{project.image_url}}"
								muted
								loop
								preload="none"
								class="no-load-mobile">
								<source data-src="{{project.clip_url.mp4}}" type="video/mp4">
								<source data-src="{{project.clip_url.webm}}" type="video/webm">
								<p>Sorry, your browser doesn't support embedded videos.</p>
							</video>
							<div class="project-text">
								<h4 class="project-title">{{project.title}}</h4>
								<p class="project-info">{{project.client}}</p>
							</div>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>