@import "variables";

#contact-links {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-align: center;
  flex-direction: column;

  @media (min-width: $md) {
    flex-direction: row;
  }
}

#contact-links a {
  color: white;
  padding: 10px;
  margin: 10px;
  opacity: 0.8;
  @include smooth-transition(0.25s);
  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}