@import "variables";

html, body {
	height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1A1A1A;
}

* {
  font-family: Graphik,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: white;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

img {
  opacity: 0;
  @include smooth-transition;
}

section {
  margin: 100px auto;
  min-height: 100vh;
  width: calc(100vw - 200px);
}

.section-title {
  margin-bottom: 100px;
  text-align: center;
}

nav {
	background-color: transparent;
}

.navbar-brand {
	font-family: 'Graphik';
	font-size: 30px;
	font-weight: bold;
}

.nav-color-control {
  color: white !important;
}

#contact {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-links {
  display: flex;
  a {
    margin: 20px;
  }
}

#fp-nav ul li a span {
  background-color: white !important
}

.no-text-underline {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}
