@import "variables";

nav {
  position: absolute;
	background-color: transparent;
}

.navbar {
  padding: 1vh $section-padding 10px;
  @media (min-width: $md) {
    padding-top: 7vh;
  }
}

.navbar-brand {
	font-family: 'Graphik';
	font-size: 30px;
	font-weight: bold;
}

.nav-link {
  text-transform: uppercase;
  font-size: 17.82px;
  letter-spacing: 1.88px;
  margin: 20px 0 0;
  @media (min-width: $md) {
    margin: 0 20px 0 0;
  }
}

.nav-color-control {
  color: white !important;
}

.navbar-toggler {
  color: white !important;
  border: none;
}