nav {
	background-color: transparent;
}

.navbar {
  padding: 50px 10vw 70px;
}

.navbar-brand {
	font-family: 'Graphik';
	font-size: 30px;
	font-weight: bold;
}

.nav-link {
  text-transform: uppercase;
  font-size: 17.82px;
  letter-spacing: 1.88px;
  margin-left: 20px;
}

.nav-color-control {
  color: white !important;
}
