.project-page-video {
	width: 100%;
	height: 70vh;
}

.project-page-meta {
	margin-top: 100px;
	@media (min-width: $md) {
		padding: 0 $section-padding;
	}
}

.project-page-client-n-date {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.project-page-title {
	margin-bottom: 1rem;
}

.project-page-description {
	@media (min-width: $md) {
		width: 80%;
	}
}

.project-page-client, .project-page-date {
	margin-top: 30px;
	@media (min-width: $md) {
		margin-top: 0;
	}
}