@import "variables";

.row .right-col {
  @media (min-width: $md) {
    margin-top: 150px;
  }
}

.project-col {
  @media (min-width: $md) {
    padding: 0 40px;
  }
  margin-bottom: 30px;
  @media (min-width: $md) {
    margin-bottom: -70px;
  }
}

.project-container {
  width: 100%;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,.5); // Make background dark

  height: 250px;
  @media (min-width: $sm) {
    height: 300px;
  }
  @media (min-width: $md) {
    height: 400px;
  }
}

.project-container img, .project-container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
  @include smooth-transition;
}

.project-text {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 15px;
  margin-left: 30px;
}

.project-title {
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 0.5rem;
  @media (min-width: $md) {
    font-size: 17px;
    letter-spacing: 3.5px;
  }
}

.project-info {
  font-weight: normal;
  opacity: 0.5;
}