@font-face {
	font-family: 'Ogg';
	src: url('/assets/fonts/Ogg-Roman.ttf')  format('truetype');
	font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Graphik';
	src: url('/assets/fonts/Graphik-Regular.ttf')  format('truetype');
	font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Graphik';
	src: url('/assets/fonts/Graphik-Semibold.ttf')  format('truetype');
	font-weight: bold;
  font-style: normal;
}

h1 {
	font-family: Ogg;
	font-size: 60px;
}

h4 {
	text-transform: uppercase;
	font-family: Graphik;
	font-size: 18px;
	letter-spacing: 2.94px;
}

a {
	font-family: 'Graphik';
	color: black;
}

p {
	font-size: 16px;
	line-height: 32px;
	opacity: 0.8;
}