/* bootstrap media queries */
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;

@mixin smooth-transition($time) {
  -webkit-transition: all $time; /* Safari and Chrome */
  -moz-transition: all $time; /* Firefox */
  -ms-transition: all $time; /* IE 9 */
  -o-transition: all $time; /* Opera */
  transition: all $time;
}

/* colors */

$near-black: #1A1A1A;

$section-padding: 10vw;