@import "variables";

.project-container {
  background-color: $near-black;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.project-info {
  margin: 0 auto;
  width: 90vw;
	cursor: pointer;
  transform-style: preserve-3d;

  &:hover {
    .project-outside {
      opacity: 1;
    }
  }
}

.project-image {
  height: auto;
  max-width: 50vw;
  filter: brightness(0.5);
  object-fit: cover;
  z-index: 5;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  @media (min-width: $md) {
    opacity: 1;
  }
}

.project-title {
	position: relative;
	font-family: Ogg;
	font-size: 10vw;
	color: #FFFFFF;
	text-align: left;
	z-index: 100;
	line-height: 8vw;
  /*transform: translateZ(60px)*/
}

.project-client {
  font-size: 20px;
  font-family: Graphik;
  z-index: 100;
  margin-top: 60px;
}

.project-outside {
  opacity: 0;
  @include smooth-transition;
  transform: translateZ(20px);
}

.project-year {

}

.project-client {
}

.project-number {
  opacity: 0.2;
  font-family: Graphik-Semibold;
  font-size: 35vw;
  letter-spacing: -14.06px;
  position: absolute;
  z-index: -1000;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  color: rgba(0, 0, 0, 1);
  top: 50%;
  transform: translateY(-50%);
}