@import "variables";

.video-container {
  position: relative;
  background-color: black;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-container .container {
  position: relative;
  z-index: 2;
}

.video-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1a1a1a;
  opacity: 0.9;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  .video-container {
    /*background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;*/
  }
  .video-container video {
    /*display: none;*/
  }
}

.project-info {
	cursor: pointer;
	margin: 0 auto;
  transform-style: preserve-3d;

	img {
		position: absolute;
		height: 60vh;
    width: 50vw;
    filter: brightness(0.5);
    @media (min-width: $md) {
      width: 30vw;
      opacity: 1;
    }
		object-fit: cover;
		top: 50%;
	  left: 50%;
	  -ms-transform: translateX(-50%) translateY(-50%);
	  -moz-transform: translateX(-50%) translateY(-50%);
	  -webkit-transform: translateX(-50%) translateY(-50%);
	  transform: translateX(-50%) translateY(-50%);
	  z-index: 5;
	}

  &:hover {
    .project-outside {
      opacity: 1;
    }
  }
}

.project-title {
	position: relative;
	font-family: Ogg;
	font-size: 10vw;
	color: #FFFFFF;
	text-align: center;
	z-index: 100;
	line-height: 8vw;
  transform: translateZ(60px)
}

.project-outside {
  opacity: 0;
  @include smooth-transition;
  font-size: 20px;
  font-family: Graphik;
  z-index: 100;
  transform: translateZ(20px);
  margin-top: 60px;
}

.project-year {

}

.project-client {
}