---
layout: default
---
{% include nav.html %}
<section id="project-page">
	<video
	    class="video-js vjs-default-skin vjs-big-play-centered"
	    id="project-page-video"
	    controls
	    autoplay
	    preload="auto"
	    poster="{{page.image_url}}"
	    data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "{{page.youtube_url}}"}] }'
	  >
	    <p class="vjs-no-js">
	      To view this video please enable JavaScript, and consider upgrading to a
	      web browser that
	      <a href="https://videojs.com/html5-video-support/" target="_blank"
	        >supports HTML5 video</a
	      >
	    </p>
	  </video>

	<div class="project-page-meta">
		<div class="row">
			<div class="col-md-9">
				<h1 class="project-page-title">{{page.title}}</h1>
				<p class="project-page-description">{{page.description}}</p>
			</div>
			<div class="col-md-3 project-page-client-n-date">
				{% if page.client and page.client != "" and page.client != nil %}
					<div class="project-page-client">
						<h4>Client</h4>
						<p>{{page.client}}</p>
					</div>
				{% endif %}
				{% if page.date and page.date != "" and page.date != nil %}
					<div class="project-page-date">
						<h4>Date</h4>
						<p>{{page.date | date: "%B %Y" }}</p>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>